nav{background-color:#272c38;}
.nav_transition{
    margin-right: 2em;
    
}

.nav_transition a{
    position: relative;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.nav_transition a + a{
    margin-left: 2em;
}

.nav_transition a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.4s ease;
    transform-origin: bottom right;
    background-color:#f34d4d;
}

.nav_transition a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
}
@font-face{
    font-family:"UniversLTStd";
    src: url("../10.\ Univers\ \ \ \ \ [1954\ -\ Adrian\ Frutiger]/UniversLTStd.otf")
}
.brand-logo{
    font-family:"UniversLTStd";
    margin-left:.5em;
}
.page-footer{background-color:#272c38;}
.ig-icon{margin-right: 1em;}
video{margin-bottom:4em; width:50em;}
.argangel{width:30%;}